
.title {
    background-color:rgb(0, 0, 0);
    color:blue;
    font-size: 65px; 
    text-align: center;
    
}



.text {
    color: white;
    font-family: 'Times New Roman', Times, serif;
    font-size: 30px;
    text-align: center;
}



.main{
text-align: center;
} 
.footer-text{
    text-align: center;
    color: white;

    


}

.photo{
 
    width: 75%;
    margin: 10px;
    
    
}
.film-titles{
    text-align: center;
    color: white;
    font-size: 20px;
}

.gallery{
    display: inline-block;
    margin: 5px;
    width: 600px;
}

.gallery img{
    width: 100%;
    height: auto;
}

.director{
    text-align: center;
    color: white;
    font-size: 25px;
}